/* Generics */
body,
figure {
  margin: 0;
}

h1 {
  font-size: 38px;
  margin-bottom: 0;
}

a {
  color: #3cb4e7;
  text-decoration: none;
}

address {
  font-size: 18px;
  font-style: normal;
}

ul {
  padding-inline-start: 0;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #fff;
  background-color: #20a9e5;
}

/* Utilities */

.container {
  width: 1080px;
  margin: 0 auto;
}

.text-gray {
  color: #808080;
}

.text-small {
  font-size: 12px;
}

.w-50 {
  width: 50%;
}

.odd {
  background-color: #b1e5f2;
}

/* Header */
#main-header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url('../img/pattern.png');
  background-size: 30%;
  line-height: 100px;
}

#logo {
  height: 50px;
  vertical-align: middle;
}

/* Main content */
.header-figure {
  margin-top: 20px;
}

/* Footer */
.related-image {
  width: 208px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
}

.related-image-title {
  margin: 0;
  font-size: 18px;
}

#pc-img {
  background-image: url('../img/monitor.jpg');
}

#graph-img {
  background-image: url('../img/graph.jpg');
}
