/* Generics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-gray {
  color: #808080;
}

.font-small {
  font-size: 12px;
}

.w-50 {
  width: 50%;
}

/* Header */

.main-header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url('../img/pattern.png');
  background-size: 30%;
}

#logo {
  margin-top: 40px;
  height: 50px;
}

h1 {
  font-size: 38px;
  margin-bottom: 0;
}

address {
  font-style: normal;
  font-size: 18px;
}

.author-name {
  color: #3cb4e7;
  text-decoration: none;
}

.article-pics {
  margin-left: 0;
}

.mark {
  background-color: yellow;
}
ul {
  list-style-position: inside;
  padding-inline-start: 0;
}

thead {
  color: #fff;
  background-color: #20a9e5;
}

table {
  border-collapse: collapse;
}

.odd {
  background-color: #b1e5f2;
}

th {
  text-align: left;
}

h3 {
  font-size: 16px;
}

#image-pc {
  background-image: url('../img/monitor.jpg');
}

#image-graph {
  background-image: url('../img/graph.jpg');
}

.related-image {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  width: 208px;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
  padding: 10px;
}

h4 {
  margin: 0;
}
